%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a#logo{:href => root_path} example app
      %nav
        %ul.nav.pull-right
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => help_path} Help
          %li
            %a{:href => "#"} Sign in